@model UniversityManagementSystem.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Enrollment</h1>

<hr />
<div class="row">

    @if (User.IsInRole("Administrator") || User.IsInRole("Dean"))
    {
    
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="EnrolDate" class="control-label"></label>
                    <input asp-for="EnrolDate" class="form-control" />
                    <span asp-validation-for="EnrolDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Semester" class="control-label"></label>
                    <select asp-for="Semester" class="form-control">
                        <option default>-- Select Semester --</option>
                        <option value="Winter Semester">Winter Semester</option>
                        <option value="Summer Semester">Summer Semester</option>
                    </select>
                    <span asp-validation-for="Semester" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" class="form-control">
                        <option default>-- Select Year --</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                    </select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <select asp-for="Grade" class="form-control">
                        <option value="">-- Select Grade --</option>
                        <option value="0.0">not set</option>
                        <option value="2.0">2.0</option>
                        <option value="2.5">2.5</option>
                        <option value="3.0">3.0</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0">5.0</option>
                    </select>

                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    }
    else if(User.IsInRole("Lecturer"))
    {
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select disabled asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="EnrolDate" class="control-label"></label>
                    <input disabled asp-for="EnrolDate" class="form-control" />
                    <span asp-validation-for="EnrolDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Semester" class="control-label"></label>
                    <select asp-for="Semester" class="form-control">
                        <option default>-- Select Semester --</option>
                        <option value="Winter Semester">Winter Semester</option>
                        <option value="Summer Semester">Summer Semester</option>
                    </select>
                    <span asp-validation-for="Semester" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select disabled asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" class="form-control">
                        <option default>-- Select Year --</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                    </select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Grade" class="control-label"></label>
                    <select asp-for="Grade" class="form-control">
                        <option value="">-- Select Grade --</option>
                        <option value="0.0">not set</option>
                        <option value="2.0">2.0</option>
                        <option value="2.5">2.5</option>
                        <option value="3.0">3.0</option>
                        <option value="3.5">3.5</option>
                        <option value="4.0">4.0</option>
                        <option value="4.5">4.5</option>
                        <option value="5.0">5.0</option>
                    </select>

                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input class="btn btn-warning" type="submit" value="Save Changes" />
                    <a class="btn btn-dark" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    }
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
