

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;  
  }
}

html {
  position: relative;
  min-height: 100%;
}

body 
{
    margin-bottom: 20px;
    padding-bottom: 3rem;
    background-color:aliceblue;
    

    /*color: rgb(var(--bs-tertiary-color-rgb));*/
}

.iTitle{
    color:blue;
    text-align:center

}


a {
    text-decoration: none;
    font-weight:400;
/*    color:rgb(30, 100, 163)
*/}



