@model UniversityManagementSystem.Models.Appoinment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Appoinment</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <select asp-for="Date" class="form-control">
                    <option value="">Select a date and time</option>
                    @for (var date = DateTime.Today.AddDays(-2); date <= DateTime.Today.AddYears(1); date = date.AddDays(1))
                    {
                        if (date.DayOfWeek >= DayOfWeek.Monday && date.DayOfWeek <= DayOfWeek.Thursday)
                        {
                            for (var time = new TimeSpan(12, 0, 0); time <= new TimeSpan(16, 0, 0); time = time.Add(TimeSpan.FromMinutes(15)))
                            {
                                var dateTime = date.Add(time);
                                <option value="@dateTime">@dateTime.ToString("ddd, dd MMM yyyy - hh:mm tt")</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DeanId" class="control-label"></label>
                <select asp-for="DeanId" class ="form-control" asp-items="ViewBag.DeanId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" value="15" disabled />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <br />
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSlotActive" /> @Html.DisplayNameFor(model => model.IsSlotActive)
                </label>
            </div>*@
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
