@model UniversityManagementSystem.Models.Course

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Course</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Credit" class="control-label"></label>
                @*<input asp-for="Credit" class="form-control" />*@
                <select asp-for="Credit" class="form-control">
                    <option value="" disabled selected>-- Select Credits --</option>
                    <option value="3">3</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>                    
                </select>
                <span asp-validation-for="Credit" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfStudy" class="control-label"></label>
                <select asp-for="DayOfStudy" class="form-control">
                    <option value="" disabled selected>-- Select Day --</option>
                    <option value="Not Set">Not Set</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <span asp-validation-for="DayOfStudy" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TimeOfStudy" class="control-label"></label>
                <select asp-for="TimeOfStudy" class="form-control">
                    <option value="" disabled selected>-- Select Time --</option>
                    <option value="Not Set">Not Set</option>
                    <option value="08:15-10:00">08:15-10:00</option>
                    <option value="10:15-12:00">10:15-12:00</option>
                    <option value="12:15-14:00">12:15-14:00</option>
                    <option value="14:15-16:00">14:15-16:00</option>
                    <option value="16:15-10:00">16:15-10:00</option>
                </select>
                <span asp-validation-for="TimeOfStudy" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label"></label>
                <select asp-for="LecturerId" class ="form-control" asp-items="ViewBag.LecturerId">
                    <option value="" disabled selected>-- Select Lecturer --</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" class ="form-control" asp-items="ViewBag.FacultyId">
                    <option value="" disabled selected>-- Select Lecturer --</option>
                </select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
