@{
    // in _layout.cshtml when it takes title, it takes from here
    ViewData["Title"] = "About Us";
}
<div class="m-5">

    <h3 class="text-center">About Us</h3>
    <p class="lead text-center">Welcome to the University Management System, your comprehensive solution for efficient and effective university administration. Our system is designed to streamline processes, enhance communication, and empower university stakeholders with the tools they need to succeed.</p>
    <h3 class="text-center">Our Mission</h3>
    <p class="lead text-center">At the University Management System, our mission is to revolutionize the way universities manage their operations. We aim to provide a user-friendly, integrated platform that facilitates seamless collaboration, enhances productivity, and promotes data-driven decision-making.</p>
    <p class="lead text-center">
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-lg btn-light fw-bold border-white bg-white"><i class="bi bi-shield-check"></i> Privacy</a>
    </p>
    <p class="lead">If you have any questions or concerns, please contact us at &#64;<a href="mailto:administrator@ums.com">Help</a>.</p>

</div>