@{
    // in _layout.cshtml when it takes title, it takes from here
    ViewData["Title"] = "Regiister";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Account Registration</title>
</head>
<body>
    <h1 class="text-center mb-5">New User Account Registration</h1>
    <h3>For registration, please follow in the steps below:</h3>
    <ol class="fs-5">
        <li>Select your study</li>
        <li>Choose your Faculty/Department</li>
        <li>Contact the university registration office</li>
        <li>Get student approval of study and attach it to mail below</li>
        <li>Follow the link
    <a href="mailto:Administrator@ums.com?subject=Student%20Registration&body=Name%3A%0D%0APrivate%20Mail%3A%0D%0APrivate%20Contact%3A%0D%0AFaculty%3A%0D%0ADepartment%3A%0D%0ADean%3A%0D%0APlease%20include%20a%20copy%20of%20the%20university's%20approval%20of%20the%20study.">Click here</a> to send an email to the Administrator.</li>
    </ol>

    <p class="text-secondary fs-5">
        <b>Remark:</b> in-case you are a Dean/Lecturer Attach your employment agreement <br/> Include the <b>Dean</b> of the following departments and/or faculties in the mail.
    </p>
</body>
</html>
